Django==1.11.29
setuptools
certifi
#django-mailman == 0.4+eso1
mailchimp3 == 3.0.6

# PostgreSQL python client
psycopg2-binary==2.8.5

# Asynchronous Task Queue
celery==4.4.7

# Djangoplicity actions
git+https://@github.com/djangoplicity/djangoplicity-actions@release/python3

# Django mailman
git+https://@github.com/jelko/django-mailman@master

# Djangoplicity
git+https://@github.com/djangoplicity/djangoplicity.git@release/python3

# Python 2/3 compatibility library
future
