{% extends "newsletters/base.html" %}
{% load release_links  djangoplicity_datetime %}
{% block text_only %}ESO {{data.release.release_type}} {{data.release.id}}{% block text_only_embargo %} (EMBARGOED* UNTIL {{data.release.release_date|time4lang:"en"|datetime:"DATETIME" }}){% endblock %}:  {{data.release.title}}{% if data.release.subtitle %} &mdash; {{data.release.subtitle}}{% endif %}. {{data.release.headline|striptags|truncatewords:40|safe}}<br /><br />{% endblock %}
{% block html_title %}ESO Media Newsletter{% endblock %}
{% block header_title %}<span style="color: #f4c819;">Advance Notice Newsletter</span>{% endblock %}
{% block header_subtitle %}{{data.release.release_date|date}}{% endblock %}

{% block reason %} you subscribed to ESO &amp; ESA/Hubble Media Newsletter.{% endblock %}

{% block main_image %}
<tr> 
<td colspan="2" class="headerContent" height="300px";  background="http://www.eso.org/public/archives/images/newsfeature/{{data.release.main_image.id}}.jpg" style="color: #202020;font-family: Helvetica, Arial;font-size: 24px;font-weight: bold;line-height: 100%;padding: 0;text-align: left;vertical-align: bottom;background-color:black;"> 
<!-- Outlook 2007 only -->
<!--[if gte mso 9]>
<img src="http://www.eso.org/public/archives/images/newsfeature/{{data.release.main_image.id}}.jpg" width="733" height="300" />
<![endif]-->
<div style="padding:20px;color:white;font-size:22px;">
	<div style="font-size:14px;">
	<span style="background:black;padding:2px;">
		<a style="color:white; font-size:14px; text-decoration: none; font-weight: bold;" href="http://www.eso.org{{data.release.get_absolute_url}}">{% block image_releasedate %}{{data.release.release_date|date}} &mdash; {% endblock %}ESO {{data.release.release_type}} {{data.release.id}}{% block image_embargonote %} &mdash; <span style="color: #f4c819;">UNDER EMBARGO</span>{% endblock %}</a>
	</span>
	</div>
	<span style="background:black;padding:2px;">
		<a style="color:white;font-size:22px; text-decoration: none; font-weight: bold;" href="http://www.eso.org{{data.potws.mainimage.0.image.get_absolute_url}}">{{data.release.title}}{% if data.release.subtitle %}&mdash; {{data.release.subtitle}}{% endif %}</a>
	</span>
	
</div> 
</td> 
</tr>
{% endblock %}

{% block content %}
{% with a_style="color: #285A97;font-size: 12px;font-family: Helvetica, Arial;" hr_style="height:1px;border:0;border-bottom:1px solid #DEDEDE;" h2_style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 15px;font-weight: bold;line-height: 130%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;" %}

{% block embargo_block_start %}
<div style="padding: 10px; font-size: 18px; background-color: #f4c819; text-align: center; font-weight: bold;">
EMBARGOED* UNTIL {{data.release.release_date|time4lang:"en"|datetime:"DATETIME" }}
</div>
<div style="padding: 10px; font-size: 12px; background-color: #eeeeee;">
{% endblock %}
<p>{{data.release.headline|linebreaksbr|description_links|release_ids|safe}}</p>

<p>The release, images and videos are available on:<br/>
<a href="http://www.eso.org{{data.release.get_absolute_url}}">http://www.eso.org{{data.release.get_absolute_url}}</a>{% block embargo_login %} (login: <strong>{{data.release.get_embargo_login.0}}</strong> password: <strong>{{data.release.get_embargo_login.1}}</strong>){% endblock %}</p>


{% block translations %}
{%if data.release.get_translations_by.language %}<p>Translations are available in: {% for translation in data.release.get_translations_by.language %}<a href="{%if translation.release_url != 'http://'%}http://www.eso.org{%endif%}{{translation.release_url}}">{{translation.language}}</a>{% if not forloop.last %}, {% endif %}{%endfor%}</p>
{% endif %}
{% if data.release.kids_title and data.release.kids_description %}<p>Space Scoop - the children's version of this release is available at: <a href="http://www.eso.org{% url releases_detail_kids data.release %}">http://www.eso.org{% url releases_detail_kids data.release %}</a></p>{% endif %}{% endblock %}

<p>
Kind regards,<br/>
The ESO Education and Public Outreach Department<br />
{% block signature_date %}{{ data.release.embargo_date|date }}{% endblock %}</p>
</p>

{% block embargo_block_end %}
</div>
{% endblock %}
{% if editorial %}
<br />
<hr style="{{hr_style}}">
<br />
{{ editorial|safe }}
{% endif %}

{# ############### ANNOUNCEMENTS ############### #}
{% if data.announcements %}

<br />
<hr style="{{hr_style}}">
<br />

<h2 class="h2" style="{{h2_style}}">
<a href="http://feeds.feedburner.com/EsoAnnouncements"><img border="0" src="http://www.eso.org/public/archives/djangoplicity/images/rssicon.png"></a>&nbsp;
<a style="color: #285A97;font-size: 15px;font-weight: bold; text-decoration:none;" href="http://www.eso.org/public/announcements/">ESO Announcements</a>
</h2> 

{% for obj in data.announcements %}
<br />
<table border="0" cellpadding="0" cellspacing="0" style="margin-bottom: 10px;"> 
<tr> 
<td valign="top" width="220">
<a href="http://www.eso.org{{ obj.get_absolute_url }}"><img width="220" border="0" src="http://www.eso.org/public/archives/{% if "video" in obj.main_visual.Archive.Meta.root %}videos/videoframe{% else %}images/potwmedium{%endif%}/{{obj.main_visual.id}}.jpg"></img></a>
</td> 
<td valign="top" style="padding-left:20px;font-family: Helvetica, Arial;font-size: 12px;" width="281"> 
<h3 class="h3" style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 12px;font-weight: bold;line-height: 130%;margin-top: 0px;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">
<a style="color: #285A97;font-size: 12px;font-weight: bold; text-decoration:none;" href="http://www.eso.org{{ obj.get_absolute_url }}">{{ obj.title }}{% if obj.subtitle%} &mdash; {{ obj.subtitle }}{% endif%}</a>
</h3>
<div style="font-family: Helvetica, Arial;font-size: 12px;color:#505050;">
<p><strong>{{ obj.release_date|date }}:</strong> {{ obj.description|striptags|truncatewords:30|safe }}</p> 
</div>
</td> 
</tr> 
<tr><td colspan="2" align="right"><a style="{{a_style}}" href="http://www.eso.org{{ obj.get_absolute_url }}">Read more</a></td></tr> 
</table> 
{% endfor %}
{% endif %}


{% endwith %}
{% endblock %}



{% block sidebar %}
{% with a_style="color: #285A97;font-size: 12px;" hr_style="height:1px;border:0;border-bottom:1px solid #DEDEDE;" h2_style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 15px;font-weight: bold;line-height: 130%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;" %}

{# ############### POTW ############### #}
{% if data.potws %}
{% if enable_sharing %}<hr style="{{hr_style}}"/>{% endif %} 

<h3 class="h3" style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 12px;font-weight: bold;line-height: 100%;margin-top: 10px;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">
<a href="http://feeds.feedburner.com/eso_potw"><img border="0"  src="http://www.eso.org/public/archives/djangoplicity/images/rssicon.png"></a>&nbsp;<a style="color: #285A97;font-size: 12px;font-weight: bold; text-decoration:none;" href="http://www.eso.org/public/images/potw/">Picture{{ data.potws|pluralize }} of the Week</a>
</h3> 

{% for obj in data.potws %}
<div style="font-family: Helvetica, Arial;font-size: 12px;color:#505050;">
<p style="margin-bottom: 20px;"><a href="http://www.eso.org{{obj.image.get_absolute_url}}"><img border="0" src="http://www.eso.org/public/archives/images/frontpagethumbs/{{obj.image.id}}.jpg" style="margin-bottom: 5px;"></img></a><br><strong>{{obj.image.release_date|date}}</strong><br /><a href="http://www.eso.org{{obj.image.get_absolute_url}}">{{ obj.image.title }}</a></p>
</div>
{% endfor %}
{% endif %}

{# ############### NEW ON ESO.ORG ############### #}
<hr style="{{hr_style}}">
<h3 class="h3" style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 12px;font-weight: bold;line-height: 100%;margin-top: 10px;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">New on eso.org</h3> 
<div style="font-family: Helvetica, Arial;font-size: 12px;color:#505050;">

{% for obj in data.newoneso %}
<p><a href="{{obj.link}}">{{obj.title}}</a></p>
{% endfor %}
</div>

{# ############### EVENTS ############### #}
<hr style="{{hr_style}}"/> 

<h3 class="h3" style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 12px;font-weight: bold;line-height: 100%;margin-top: 10px;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">
<a style="color: #285A97;font-size: 12px;font-weight: bold; text-decoration:none;" href="http://www.eso.org/public/events/special-evt.html">Upcoming Events</a>
</h3> 
<div style="font-family: Helvetica, Arial;font-size: 12px;color:#505050;">
{% if data.ongoing_events %}
<p><strong>Ongoing</strong><br> 
<ul> 
{% for obj in data.ongoing_events %}
<li><a href="{{obj.link}}">{{obj.title}}</a></li>
{% endfor %}
</ul> 
</p>
{% endif %} 
{% for obj in data.special_events %}
<p><strong>{{ obj.get_dates|safe }}</strong>: {% if obj.link %}<a href="{{obj.link}}">{{obj.title|safe}}</a>{% else %}{{obj.title|safe}}{% endif %}</p>
{% endfor %}
</div>

{# ############### EXHIBITIONS ############### #}
<hr style="{{hr_style}}"/> 


<h3 class="h3" style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 12px;font-weight: bold;line-height: 100%;margin-top: 10px;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">
<a style="color: #285A97;font-size: 12px;font-weight: bold; text-decoration:none;" href="http://www.eso.org/public/events/exhibitions.html">Upcoming Exhibitions</a>
</h3> 


<div style="font-family: Helvetica, Arial;font-size: 12px;color:#505050;">
{% for obj in data.exhibitions %}
<p><strong>{{ obj.get_dates|safe }}</strong>: {% if obj.link %}<a href="{{obj.link}}">{{obj.title|safe}}</a>{% else %}{{obj.title|safe}}{% endif %}{% if obj.get_location %}. {{ obj.get_location }}.{% endif %}</p>
{% endfor %}

</div>

{% endwith %}
{% endblock %}

