{% extends "newsletters/base.html" %}

{% block text_only %}eso1119 &mdash; Organisation Release &mdash; The VLT Survey Telescope (VST), the latest addition to ESO's Paranal Observatory, has made its first release of impressive images of the southern sky. The VST is a state-of-the-art 2.6-metre telescope, with the huge 268-megapixel camera OmegaCAM at its heart, [...]{% endblock %}


<!--   -->
                                            	
{% block header_title %}News from ESO{% endblock %}
{% block header_subtitle %}Organisation Release eso1119{% endblock %}
{% block feature_image_url %}http://www.eso.org/public/archives/images/newsfeature/eso1119a.jpg{% endblock %}
{% block feature_image_text %}8 June 2011{% endblock %}



{% block content %}
<h2 class="h2" style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 16px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left; ">ESO Photo Release eso1115</h2>
						                                                                The Meathook Galaxy, or NGC 2442, has a dramatically lopsided shape. One spiral arm is tightly folded in on itself and host to a recent supernova, while the other, dotted with recent star formation, extends far out from the nucleus. The MPG/ESO 2.2-metre telescope and the NASA/ESA Hubble Space Telescope have captured two contrasting views of this asymmetric spiral galaxy.
						                                                                <br>
						                                                                <br>
						                                                                The release, images and videos are available on:
						                                                                <br>
						                                                                <a href="http://www.eso.org/public/news/eso1115/">http://www.eso.org/public/news/eso1115/</a>
						                                                            	
						                                                                <br>
						                                                                <br>
						                                                                Translations:
						                                                                <div align="left"> 
<span> 
 
<a href="/public/austria/news/eso1115/" class="noicon" title="Austria" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/austria/images/flag.gif" alt="Austria" class="nopadding"/></a> 
 
 
 
<a href="/public/belgium/index.html" class="noicon" title="Belgium" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/belgium/images/flag.gif" alt="Belgium" class="nopadding"/></a> 
 
 
 
<a href="/public/brazil/news/eso1115/" class="noicon" title="Brazil" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/brazil/images/flag.gif" alt="Brazil" class="nopadding"/></a> 
 
 
 
<a href="/public/denmark/news/eso1115/" class="noicon" title="Denmark" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/denmark/images/flag.gif" alt="Denmark" class="nopadding"/></a> 
 
 
 
<a href="/public/finland/news/eso1115/" class="noicon" title="Finland" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/finland/images/flag.gif" alt="Finland" class="nopadding"/></a> 
 
 
 
<a href="/public/france/news/eso1115/" class="noicon" title="France" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/france/images/flag.gif" alt="France" class="nopadding"/></a> 
 
 
 
<a href="/public/germany/news/eso1115/" class="noicon" title="Germany" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/germany/images/flag.gif" alt="Germany" class="nopadding"/></a> 
 
 
 
<a href="/public/italy/news/eso1115/" class="noicon" title="Italy" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/italy/images/flag.gif" alt="Italy" class="nopadding"/></a> 
 
 
 
<a href="/public/netherlands/news/eso1115/" class="noicon" title="Netherlands" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/netherlands/images/flag.gif" alt="Netherlands" class="nopadding"/></a> 
 
 
 
<a href="/public/portugal/news/eso1115/" class="noicon" title="Portugal" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/portugal/images/flag.gif" alt="Portugal" class="nopadding"/></a> 
 
 
 
<a href="/public/spain/news/eso1115/" class="noicon" title="Spain" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/spain/images/flag.gif" alt="Spain" class="nopadding"/></a> 
 
 
 
<a href="/public/sweden/news/eso1115/" class="noicon" title="Sweden" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/sweden/images/flag.gif" alt="Sweden" class="nopadding"/></a> 
 
 
 
<a href="/public/switzerland/index.html" class="noicon" title="Switzerland" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/switzerland/images/flag.gif" alt="Switzerland" class="nopadding"/></a> 
 
 
<br/>
<a href="http://www.eso.cl/publicos/noticia_2011may04.php" class="noicon" title="Chile" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/chile/images/flag.gif" alt="Chile" class="nopadding"/></a> 
 
 
 
<a href="/public/iceland/news/eso1115/" class="noicon" title="Iceland" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/iceland/images/flag.gif" alt="Iceland" class="nopadding"/></a> 
 
 
 
<a href="/public/norway/news/eso1115/" class="noicon" title="Norway" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/norway/images/flag.gif" alt="Norway" class="nopadding"/></a> 
 
 
 
<a href="/public/poland/news/eso1115/" class="noicon" title="Poland" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/poland/images/flag.gif" alt="Poland" class="nopadding"/></a> 
 
 
 
<a href="/public/turkey/news/eso1115/" class="noicon" title="Turkey" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/turkey/images/flag.gif" alt="Turkey" class="nopadding"/></a> 
 
 
 
<a href="/public/ukraine/news/eso1115/" class="noicon" title="Ukraine" style="margin-right: 5px;"><img src="http://www.eso.org/public/outreach/eson/ukraine/images/flag.gif" alt="Ukraine" class="nopadding"/></a> 
 
<a href="/public/news/eso1115/kids/" class="noicon" title="Kids" style="margin-right: 5px;"><img src="/public/archives/djangoplicity/kids/unawe-flag-en.png" alt="Kids" class="nopadding"/></a> 
<span></div>

					                                                               <br>
					                                                               Kind regards,<br/>
					                                                               The ESO Education and Public Outreach Department</br>
					                                                               4 May 2011
					                                                               <br>
					                                                               <hr style="height:1px;border:0;border-bottom:1px solid #DEDEDE;"/>
	                                                
	                                                               <br>
	                                                               
	                                                               
	                                                               
	                                                               <table border="0" cellpadding="0" cellspacing="0" >
	                                                               <tr>
	                                                               <td valign="top" width="122">
	                                                               <img src="http://www.eso.org/public/archives/images/wallpaperthumbs/eso1114a.jpg"></img>
	                                                               </td>
	                                                               <td valign="top" style="padding-left:20px;" width="400">
	                                                               <h2 class="h2" style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 16px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;"><img src="http://www.eso.org/public/archives/djangoplicity/images/rssicon.png"></img> ESO Press Releases</h2>
	                                                               <a href="#" target="_blank" style="color: #336699;font-weight: normal;text-decoration: underline;">eso1114 - Photo Release</a><br/>
	                                                               A Disturbed Galactic Duo<br/>
	                                                               
	                                                               <a href="#" target="_blank" style="color: #336699;font-weight: normal;text-decoration: underline;">eso1113 - Photo Release</a><br/>
	                                                               Celestial Fireworks from Dying Stars<br/>
	                                                               
	                                                               
	                                                               <a href="#" target="_blank" style="color: #336699;font-weight: normal;text-decoration: underline;">eso1112 - Organisation Release</a><br/>
	                                                               President of Czech Republic visits ESO's Paranal Observatory<br/>
	                                                               
	                                                               
	                                                               </td>
	                                                               </tr>
	                                                               </table>
	                                                              
	                                                               <br/>
	                                                               <hr style="height:1px;border:0;border-bottom:1px solid #DEDEDE;"/>
	                                                
	                                                               <br/>
	                                                               <table border="0" cellpadding="0" cellspacing="0">
	                                                               <tr>
	                                                               <td valign="top" width="122">
	                                                               <img src="http://www.eso.org/public/archives/images/wallpaperthumbs/ann11024a.jpg"></img>
	                                                               </td>
	                                                               <td valign="top" style="padding-left:20px" width="400">
	                                                               <h2 class="h2" style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 16px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;"><img src="http://www.eso.org/public/archives/djangoplicity/images/rssicon.png"></img> ESO Announcements</h2>
	                                                               3 May 2011 - <a href="#" target="_blank" style="color: #336699;font-weight: normal;text-decoration: underline;">Cafe &amp; Kosmos 10 May 2011</a><br/>
	                                                               <br/>
	                                                               28 April 2011 - <a href="#" target="_blank" style="color: #336699;font-weight: normal;text-decoration: underline;">Superb New Mirrors Bring Exoplanet Discoveries Nearer</a><br/>
	                                                               <br/>
	                                                               27 April 2011 - <a href="#" target="_blank" style="color: #336699;font-weight: normal;text-decoration: underline;">Spinstars: The First Polluters of the Universe?</a><br/>
	                                                               
	                                                               </td>
	                                                               </tr>
	                                                               </table>
	                                                               
	                                                               
	                                                               <br/>
	                                                               <hr style="height:1px;border:0;border-bottom:1px solid #DEDEDE;"/>
	                                                               <br/>
	                                                               <table border="0" cellpadding="0" cellspacing="0">
	                                                               <tr>
	                                                               <td valign="top" width="122">
	                                                               <img src="http://www.eso.org/public/archives/images/thumbs/eso-hq2007.jpg"></img>
	                                                               </td>
	                                                               <td valign="top" style="padding-left:20px" width="400">
	                                                               <h2 class="h2" style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 16px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">New on eso.org</h2>
	                                                               <a href="#" target="_blank" style="color: #336699;font-weight: normal;text-decoration: underline;">Colour Search!</a><br/>
	                                                               <br/>
	                                                               <a href="#" target="_blank" style="color: #336699;font-weight: normal;text-decoration: underline;">New E-ELT Trailer</a><br/>
	                                                               <br/>
	                                                               <a href="#" target="_blank" style="color: #336699;font-weight: normal;text-decoration: underline;">Media Press Kit on Black Holes</a><br/>
	                                                               </td>
	                                                               </tr>
	                                                               </table>
	                                                               
	                                                               
	                                                               
	                                                               <br/>
	                                                               <hr style="height:1px;border:0;border-bottom:1px solid #DEDEDE;"/>
	                                                               <br/>
	                                                               <table border="0" cellpadding="0" cellspacing="0">
	                                                               <tr>
	                                                               <td valign="top" width="122">
	                                                               <img src="http://www.eso.org/public/archives/images/thumbs/eelt-metis-6952.jpg"></img>
	                                                               </td>
	                                                               <td valign="top" style="padding-left:20px" width="400">
	                                                               <h2 class="h2" style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 16px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">Local ESO events</h2>
	                                                               <a href="#" target="_blank" style="color: #336699;font-weight: normal;text-decoration: underline;">Colour Search!</a><br/>
	                                                               <br/>
	                                                               <a href="#" target="_blank" style="color: #336699;font-weight: normal;text-decoration: underline;">New E-ELT Trailer</a><br/>
	                                                               <br/>
	                                                               <a href="#" target="_blank" style="color: #336699;font-weight: normal;text-decoration: underline;">Media Press Kit on Black Holes</a><br/>
	                                                               </td>
	                                                               </tr>
	                                                               </table>
{% endblock %} 