{% extends "newsletters/base_news.html" %}
{% load release_links %}

{% block html_title %}ESO News{% endblock %}
{% block header_title %}ESO News{% endblock %}
{% block text_only_embargo %}{% endblock %}

{% block reason %} you subscribed to ESO News.{% endblock %}
{% block image_embargonote %}{% endblock %}

{% block embargo_block_start %}{% endblock %}
{% block embargo_block_end %}{% endblock %}
{% block embargo_login %}{% endblock %}
{% block signature_date %}{{ data.release.release_date|date }}{% endblock %}









