{% extends "newsletters/base.html" %}

{% block text_only %}{{editorial|striptags|truncatewords:40|safe}}<br /><br />{% endblock %}
{% block html_title %}ESO Outreach Community Newsletter {{release_date|date:"F"}} {{release_date|date:"Y"}}{% endblock %}
{% block facebook_title %}ESO Outreach Community Newsletter {{release_date|date:"F"}} {{release_date|date:"Y"}}{% endblock %}
{% block header_title %}ESO Outreach Community Newsletter{% endblock %}
{% block header_subtitle %}{{release_date|date:"F"}} {{release_date|date:"Y"}}{% endblock %}

{% block reason %} you subscribed to the ESO Outreach &amp; Education Newsletter{% endblock %}

{% block content %}
{{ editorial|safe }}

{% with a_style="color: #285A97;font-size: 12px;font-family: Helvetica, Arial;" hr_style="height:1px;border:0;border-bottom:1px solid #DEDEDE;" h2_style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 15px;font-weight: bold;line-height: 130%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;" %}
{% include 'newsletters/includes/announcements.html' %}

{% include 'newsletters/includes/starsateso.html' %}

{% include 'newsletters/includes/esocasts.html' %}
{% endwith %}

{% endblock %}


{% block sidebar %}

{% with a_style="color: #285A97;font-size: 12px;" hr_style="height:1px;border:0;border-bottom:1px solid #DEDEDE;" h2_style="color: #285A97;display: block;font-family: Helvetica, Arial;font-size: 15px;font-weight: bold;line-height: 130%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;" %}
{% include 'newsletters/includes/releases.html' %}

{% include 'newsletters/includes/newoneso.html' %}

{% include 'newsletters/includes/special_events.html' %}

{% include 'newsletters/includes/exhbitions.html' %}
{% endwith %}

{% endblock %}